
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 container">

    <ng-container matColumnDef="origem">
      <th mat-header-cell *matHeaderCellDef> Origerm </th>
      <td mat-cell *matCellDef="let element"> {{element.origem}} </td>
    </ng-container>
  

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{category[element.categoria - 1]}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.valor | currency:'BRL'}} </td>
    </ng-container>
  
 
    <ng-container matColumnDef="mes_lancamento">
      <th mat-header-cell *matHeaderCellDef> Mês </th>
      <td mat-cell *matCellDef="let element"> {{months[element.mes_lancamento - 1]}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  

