<mat-tab-group class="container">
    <mat-tab label="Lista Geral">
        <app-general-expense-list></app-general-expense-list>
    </mat-tab>
    <mat-tab label="Lista Consolidada">
        <app-consolidated-expense-list></app-consolidated-expense-list>
    </mat-tab>
</mat-tab-group>